<!DOCTYPE html>
<html>
<head>
  <title>Videos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>
